h1 {
    color: #4ECCA3;
    text-shadow: 4px 4px black;
    font-family: 'Lobster', sans-serif;
    font-size: 8rem;

}
.backgroundColor{
    background-color: #393E46;
}
.center {
    text-align: center;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.textColor{
    color: #4ECCA3;
}

.container{
    display: flex;
    flex-wrap:wrap;
    height: 100%;
    width: 100%;

}

.dice {
    height: 100%;
}
